google-chart {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: 0 auto;
    display: block;
}
.dark google-chart {
    color-scheme: dark;
}
.fi-wi-chart google-chart {
    max-width: 100%;
}
google-chart:not(:defined) {
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
}
.dark google-chart:not(:defined) {
    background-color: #1f2937;
}
