@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/businesstilto/commentable/resources/css/plugin.css';
@source '../../../../vendor/devonab/filament-easy-footer/resources/views/**/*';
